discord.py
python.dotenv
youtube-dl
loguru
discord.py[voice]
youtube-search-python
chess
termcolor
wikipedia
pycairo
CairoSVG
PyNaCl
pydrive
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
